body {
    font-family: "Caveat", cursive;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.description1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 0;
    list-style-position: inside;
    margin-right: 0px;
    margin-bottom: -830px;
    width: 500px;
    height: 320px;
    left: 914px;
    top: 863px;
}

.description2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 0;
    list-style-position: inside;
    margin-right: 0px;
    margin-bottom: -300px;
    width: 500px;
    height: 320px;
    left: 914px;
    top: 863px;
}

aside {
    padding-left: 890px;
    padding-top: 72px;
}

main {
    padding-top: 0px;
    padding-left: 250px;
}

.title {
    color: rgb(0, 0, 0);
    padding-left: 200px;
    font-size: 70px;
}

.title1 {
    padding-left: 120px;
    font-size: 45px;
}

.title2 {
    padding-left: 120px;
    font-size: 45px;
}

.kontakt {
    padding-left: 470px;
    padding-top: 1700px;
}

.kopi {
    padding-left: 470px;
    padding-top: 50px;
}

.video_item1 {
    width: 500px;
}

.video_item2 {
    width: 500px;
}
